*{
    margin: 0;
    padding: 0;
}

.tag {
    background-color: rgba(24,115,136,0.53);
    padding: 3px;
    border: 1px solid #171b23;
    border-radius: 3px;
    margin: 2px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.tag:hover {
    background-color: rgba(24,115,136,0.73);
}

.tag img {
    width: 40px;
    border-radius: 20px;
    border: 1px solid black;
    margin: 3px;
}

span {
    margin-left: 30px;
    display: block;
}

