*{
    margin: 0;
    padding: 0;
}

.profile-tag {
    padding: 3px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 6px auto;
    width: 90%;
    max-width: 400px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.profile-tag:hover {
    background-color: rgba(24,115,136,0.73);
}

.profile-tag img {
    width: 40px;
    border-radius: 20px;
    margin: 3px;
}

span {
    margin-left: 30px;
    display: block;
}

