
.modalContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    border: 2px solid #000;
    box-shadow: 2px 2px black;
    padding: 4px;
}

.modalPicture {
    border-radius: 45px;
    width: 90px;
    height: 90px;
}

.loader {
    border-radius: 0;
    margin: auto;
    display: block;
}

button {
    margin: 20px auto 10px auto;
    display: block;
    background-color: #dddddd;
    padding: 5px;
    border-radius: 3px;
    border: none;
}

.info {
    margin: auto;
}

