.postContainer{
    background-color: white;
    max-width: 250px;
    margin: 20px auto;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profileData {
    display: flex;
    height: 20px;
    padding: 5px;
    align-items: center;
    align-content: flex-start;
}

.topInfo {
    align-items: center;
}

.username {
    font-size: 10px;
    margin: 3px;
}

.date {
    margin: 3px;
    font-size: 8px;
    color: #777;
}

.profileData img {
    height: 100%;
    border-radius: 50%;
    border: 1px solid black;
    margin: 0;
}

.imageContainer{
    width: 100%;
}

.imageContainer img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}

.description{
    margin: 3px;
    font-size: 10px;
}


.tagsContainer{
    display: flex;
}

.tag {
    margin: 3px;
    font-size: 8px;
    border: none;
}

.likes {
    margin: 3px;
    color: rgba(156,25,16,0.87);
    font-size: 10px;
}
